<form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
  <label>Nome:
    <input type="text" formControlName="name" />
  </label>

  <label>Status:
    <select formControlName="status">
      <option value="Alive">Alive</option>
      <option value="Dead">Dead</option>
      <option value="unknown">Unknown</option>
    </select>
  </label>

  <label>Espécie:
    <input type="text" formControlName="species" />
  </label>

  <label>Gênero:
    <select formControlName="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="unknown">Unknown</option>
    </select>
  </label>

  <label>Imagem:
    <input type="text" formControlName="image" />
  </label>

  <div>
    <button type="submit">Salvar</button>
    <button type="button" (click)="onCancel()">Cancelar</button>
  </div>
</form>
