.search-bar {
    margin: 20px;
    text-align: center;
  }
  
  .search-bar input {
    width: 300px;
    padding: 8px;
    font-size: 16px;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .new-character-button {
  text-align: center;
  margin: 10px 0;
}

.new-character-button button {
  background-color: #43a047;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
