<div class="search-bar">
  <input
    type="text"
    placeholder="Buscar personagem..."
    (input)="onSearch($event)"
  />
</div>

<!-- Novo botão -->
<div class="new-character-button">
  <button (click)="createNewCharacter()">Novo Personagem</button>
</div>

<div class="grid">
  <app-character-card
    *ngFor="let character of state.characters()"
    [character]="character"
    (view)="viewDetails($event)"
    (edit)="editCharacter($event)"
  ></app-character-card>
</div>

<button (click)="onScrollEnd()" [disabled]="state.loading()">Carregar mais</button>
