<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <h2>{{ isEditMode ? 'Editar Personagem' : 'Novo Personagem' }}</h2>

  <label>
    Nome:
    <input formControlName="name" />
  </label>

  <label>
    Espécie:
    <input formControlName="species" />
  </label>

  <label>
    Imagem (URL):
    <input formControlName="image" />
  </label>

  <div class="button-group">
    <button type="submit" [disabled]="form.invalid">
      {{ isEditMode ? 'Salvar Alterações' : 'Criar' }}
    </button>
    <button type="button" class="cancel-button" (click)="onCancel()">Cancelar</button>
  </div>
</form>
